// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Global default params, used in configs
params {

  // Pipeline Options
  //metabolite_models_folder = '/gpfs/data/im-lab/nas40t2/festus/metabolomics/guardian/MetaboXcan/databases/bslmm-*.{db,txt.gz}'
  metabolite_models_folder = '/gpfs/data/im-lab/nas40t2/festus/metabolomics/metsim/results/lasso/metsim-invnorm-softimpute.{db,txt.gz}'
  gene_models_folder = '/gpfs/data/im-lab/nas40t2/Data/PredictDB/GTEx_v8/models_v1/eqtl/elastic_net_models/en_*.{db,txt.gz}'
  gwas_file = '/gpfs/data/im-lab/nas40t2/Data/SummaryResults/imputed_gwas_hg38_1.1/imputed_pgc.scz2.txt.gz'
  gwas_name = 'pgc.scz2'
  gwas_N = ''
  gwas_h2 = ''
  models_name_pattern = '(.*).db'
  test_genotype = false
  summary_stats = false
  snp_covariance = '/gpfs/data/im-lab/nas40t2/festus/metabolomics/guardian/MetaboXcan/gtex_v8_expression_elastic_net_snp_smultixcan_covariance.txt.gz'
  zscore_col = false
  gene2metabo = "$baseDir/data/gene2metabo-softimpute_sig.txt"
  gene_annot = "$baseDir/data/gene_annotation.v26.GRCh38.txt"
  mqtl = "$baseDir/data/metsim-snp2metabo_lmm_hg38.db"
  metabolite_metadata = "$baseDir/data/curated_metabolite_map.tsv"
  ld_blocks = "$baseDir/data/eur_ld.hg38.bed"
  omics_network = "$baseDir/data/main-network-small.tsv"
  gene_info = "$baseDir/data/gene-info.tsv"
  MetaXcan = '/home/fnyasimi1/MetaXcan'
  outdir = "./results"
  tracedir = "${params.outdir}/pipeline_info"

  // Workflow flags
  name = false
  help = false
  keepIntermediate = false

  // Defaults only, expecting to be overwritten
  max_memory = 64.GB
  max_cpus = 8
  max_time = 240.h
}

// Load base.config and cluster.config for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/cluster.config'

trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/workflow.png"
}

report {
  enabled = true
  file = "${params.tracedir}/report.html"
}

timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
